NET "ddr3_dq[0]" LOC = "W3"  ;
NET "ddr3_dq[1]" LOC = "U6"  ;
NET "ddr3_dq[2]" LOC = "V4"  ;
NET "ddr3_dq[3]" LOC = "U7"  ;
NET "ddr3_dq[4]" LOC = "U5"  ;
NET "ddr3_dq[5]" LOC = "U1"  ;
NET "ddr3_dq[6]" LOC = "V3"  ;
NET "ddr3_dq[7]" LOC = "U2"  ;
NET "ddr3_dq[8]" LOC = "Y3"  ;
NET "ddr3_dq[9]" LOC = "W1"  ;
NET "ddr3_dq[10]" LOC = "AA3"  ;
NET "ddr3_dq[11]" LOC = "Y1"  ;
NET "ddr3_dq[12]" LOC = "AB2"  ;
NET "ddr3_dq[13]" LOC = "V1"  ;
NET "ddr3_dq[14]" LOC = "AC2"  ;
NET "ddr3_dq[15]" LOC = "V2"  ;
NET "ddr3_dq[16]" LOC = "AC4"  ;
NET "ddr3_dq[17]" LOC = "Y6"  ;
NET "ddr3_dq[18]" LOC = "AC3"  ;
NET "ddr3_dq[19]" LOC = "AB6"  ;
NET "ddr3_dq[20]" LOC = "Y5"  ;
NET "ddr3_dq[21]" LOC = "AD6"  ;
NET "ddr3_dq[22]" LOC = "AB4"  ;
NET "ddr3_dq[23]" LOC = "AC6"  ;
NET "ddr3_dq[24]" LOC = "AE3"  ;
NET "ddr3_dq[25]" LOC = "AF2"  ;
NET "ddr3_dq[26]" LOC = "AE6"  ;
NET "ddr3_dq[27]" LOC = "AE2"  ;
NET "ddr3_dq[28]" LOC = "AD4"  ;
NET "ddr3_dq[29]" LOC = "AD1"  ;
NET "ddr3_dq[30]" LOC = "AE5"  ;
NET "ddr3_dq[31]" LOC = "AE1"  ;
NET "ddr3_dq[32]" LOC = "W15"  ;
NET "ddr3_dq[33]" LOC = "V17"  ;
NET "ddr3_dq[34]" LOC = "W14"  ;
NET "ddr3_dq[35]" LOC = "V18"  ;
NET "ddr3_dq[36]" LOC = "V16"  ;
NET "ddr3_dq[37]" LOC = "V19"  ;
NET "ddr3_dq[38]" LOC = "V14"  ;
NET "ddr3_dq[39]" LOC = "Y17"  ;
NET "ddr3_dq[40]" LOC = "AC14"  ;
NET "ddr3_dq[41]" LOC = "AA15"  ;
NET "ddr3_dq[42]" LOC = "AB16"  ;
NET "ddr3_dq[43]" LOC = "AA14"  ;
NET "ddr3_dq[44]" LOC = "AB14"  ;
NET "ddr3_dq[45]" LOC = "AA18"  ;
NET "ddr3_dq[46]" LOC = "AB15"  ;
NET "ddr3_dq[47]" LOC = "AA17"  ;
NET "ddr3_dq[48]" LOC = "AD19"  ;
NET "ddr3_dq[49]" LOC = "AB19"  ;
NET "ddr3_dq[50]" LOC = "AD18"  ;
NET "ddr3_dq[51]" LOC = "AA20"  ;
NET "ddr3_dq[52]" LOC = "AC17"  ;
NET "ddr3_dq[53]" LOC = "AA19"  ;
NET "ddr3_dq[54]" LOC = "AB17"  ;
NET "ddr3_dq[55]" LOC = "AC19"  ;
NET "ddr3_dq[56]" LOC = "AF17"  ;
NET "ddr3_dq[57]" LOC = "AD15"  ;
NET "ddr3_dq[58]" LOC = "AF20"  ;
NET "ddr3_dq[59]" LOC = "AF15"  ;
NET "ddr3_dq[60]" LOC = "AD16"  ;
NET "ddr3_dq[61]" LOC = "AF14"  ;
NET "ddr3_dq[62]" LOC = "AF19"  ;
NET "ddr3_dq[63]" LOC = "AE15"  ;
NET "ddr3_dm[0]" LOC = "V6"  ;
NET "ddr3_dm[1]" LOC = "Y2"  ;
NET "ddr3_dm[2]" LOC = "AD5"  ;
NET "ddr3_dm[3]" LOC = "AF3"  ;
NET "ddr3_dm[4]" LOC = "W16"  ;
NET "ddr3_dm[5]" LOC = "AD14"  ;
NET "ddr3_dm[6]" LOC = "AB20"  ;
NET "ddr3_dm[7]" LOC = "AE17"  ;
NET "ddr3_dqs_p[0]" LOC = "W6"  ;
NET "ddr3_dqs_n[0]" LOC = "W5"  ;
NET "ddr3_dqs_p[1]" LOC = "AB1"  ;
NET "ddr3_dqs_n[1]" LOC = "AC1"  ;
NET "ddr3_dqs_p[2]" LOC = "AA5"  ;
NET "ddr3_dqs_n[2]" LOC = "AB5"  ;
NET "ddr3_dqs_p[3]" LOC = "AF5"  ;
NET "ddr3_dqs_n[3]" LOC = "AF4"  ;
NET "ddr3_dqs_p[4]" LOC = "W18"  ;
NET "ddr3_dqs_n[4]" LOC = "W19"  ;
NET "ddr3_dqs_p[5]" LOC = "Y15"  ;
NET "ddr3_dqs_n[5]" LOC = "Y16"  ;
NET "ddr3_dqs_p[6]" LOC = "AD20"  ;
NET "ddr3_dqs_n[6]" LOC = "AE20"  ;
NET "ddr3_dqs_p[7]" LOC = "AE18"  ;
NET "ddr3_dqs_n[7]" LOC = "AF18"  ;
NET "ddr3_addr[15]" LOC = "AF7" ;
NET "ddr3_addr[14]" LOC = "V8"  ;
NET "ddr3_addr[13]" LOC = "V9"  ;
NET "ddr3_addr[12]" LOC = "AD8"  ;
NET "ddr3_addr[11]" LOC = "W9"  ;
NET "ddr3_addr[10]" LOC = "Y11"  ;
NET "ddr3_addr[9]" LOC = "V7"  ;
NET "ddr3_addr[8]" LOC = "W11"  ;
NET "ddr3_addr[7]" LOC = "W10"  ;
NET "ddr3_addr[6]" LOC = "AA13"  ;
NET "ddr3_addr[5]" LOC = "Y10"  ;
NET "ddr3_addr[4]" LOC = "AC8"  ;
NET "ddr3_addr[3]" LOC = "Y7"  ;
NET "ddr3_addr[2]" LOC = "Y13"  ;
NET "ddr3_addr[1]" LOC = "Y8"  ;
NET "ddr3_addr[0]" LOC = "AC7"  ;
NET "ddr3_ba[2]" LOC = "AA8"  ;
NET "ddr3_ba[1]" LOC = "AA7"  ;
NET "ddr3_ba[0]" LOC = "AE7"  ;
NET "ddr3_ck_p[0]" LOC = "AC9"  ;
NET "ddr3_ck_n[0]" LOC = "AD9"  ;
NET "ddr3_ras_n" LOC = "AD13"  ;
NET "ddr3_cas_n" LOC = "AC12"  ;
NET "ddr3_we_n" LOC = "AA12"  ;
NET "ddr3_reset_n" LOC = "V11"  ;
NET "ddr3_cke[0]" LOC = "AB12"  ;
NET "ddr3_odt[0]" LOC = "AC13"  ;
NET "ddr3_cs_n[0]" LOC = "AB7"  ;