NET "gpio_g0[0]" LOC = "AD21" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[1]" LOC = "AE21" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[2]" LOC = "AF22" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[3]" LOC = "AC21" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[4]" LOC = "AE22" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[5]" LOC = "AB21" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[6]" LOC = "AC22" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[7]" LOC = "AB22" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[8]" LOC = "Y22" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[9]" LOC = "AF23" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[10]" LOC = "AF24" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[11]" LOC = "AF25" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[12]" LOC = "AE23" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[13]" LOC = "AE25" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[14]" LOC = "AE26" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[15]" LOC = "AD23" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[16]" LOC = "AA22" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[17]" LOC = "AA23" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[18]" LOC = "AB24" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[19]" LOC = "AA24" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[20]" LOC = "Y20" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[21]" LOC = "Y21" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[22]" LOC = "W20" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[23]" LOC = "W21" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[24]" LOC = "AD24" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[25]" LOC = "AD26" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[26]" LOC = "AD25" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[27]" LOC = "AC23" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[28]" LOC = "AC26" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[29]" LOC = "AC24" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[30]" LOC = "AB25" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[31]" LOC = "AB26" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[32]" LOC = "W26" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[33]" LOC = "V21" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[34]" LOC = "V22" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[35]" LOC = "V26" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[36]" LOC = "U21" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[37]" LOC = "U22" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[38]" LOC = "U26" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[39]" LOC = "U25" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[40]" LOC = "U24" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[41]" LOC = "W23" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[42]" LOC = "AA25" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[43]" LOC = "Y23" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[44]" LOC = "Y25" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[45]" LOC = "Y26" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[46]" LOC = "W24" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[47]" LOC = "W25" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[48]" LOC = "V23" | IOSTANDARD = LVCMOS33;
NET "gpio_g0[49]" LOC = "V24" | IOSTANDARD = LVCMOS33;

NET "gpio_g1[0]" LOC = "M25" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[1]" LOC = "M24" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[2]" LOC = "L25" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[3]" LOC = "L24" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[4]" LOC = "K26" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[5]" LOC = "K25" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[6]" LOC = "N16" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[7]" LOC = "N17" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[8]" LOC = "M26" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[9]" LOC = "N24" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[10]" LOC = "N26" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[11]" LOC = "P24" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[12]" LOC = "P25" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[13]" LOC = "P26" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[14]" LOC = "T20" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[15]" LOC = "T19" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[16]" LOC = "M19" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[17]" LOC = "M20" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[18]" LOC = "M21" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[19]" LOC = "M22" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[20]" LOC = "N18" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[21]" LOC = "N19" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[22]" LOC = "N23" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[23]" LOC = "N22" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[24]" LOC = "U20" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[25]" LOC = "U19" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[26]" LOC = "T24" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[27]" LOC = "R21" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[28]" LOC = "P20" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[29]" LOC = "R20" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[30]" LOC = "P19" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[31]" LOC = "P18" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[32]" LOC = "N21" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[33]" LOC = "P23" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[34]" LOC = "P21" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[35]" LOC = "R22" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[36]" LOC = "R25" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[37]" LOC = "R26" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[38]" LOC = "T22" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[39]" LOC = "T23" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[40]" LOC = "T25" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[41]" LOC = "R18" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[42]" LOC = "R17" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[43]" LOC = "T18" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[44]" LOC = "T17" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[45]" LOC = "U17" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[46]" LOC = "U16" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[47]" LOC = "R16" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[48]" LOC = "P16" | IOSTANDARD = LVCMOS33;
NET "gpio_g1[49]" LOC = "R23" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[0]" LOC = "H9" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[1]" LOC = "H12" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[2]" LOC = "G10" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[3]" LOC = "G12" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[4]" LOC = "J11" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[5]" LOC = "J13" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[6]" LOC = "D9" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[7]" LOC = "B15" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[8]" LOC = "F9" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[9]" LOC = "C14" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[10]" LOC = "G11" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[11]" LOC = "D14" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[12]" LOC = "E13" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[13]" LOC = "H14" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[14]" LOC = "C9" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[15]" LOC = "B14" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[16]" LOC = "E10" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[17]" LOC = "F14" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[18]" LOC = "E11" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[19]" LOC = "C12" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[20]" LOC = "A9" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[21]" LOC = "A13" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[22]" LOC = "B10" | IOSTANDARD = LVCMOS33;
NET "diff_io_p[23]" LOC = "B12" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[0]" LOC = "H8" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[1]" LOC = "H11" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[2]" LOC = "G9" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[3]" LOC = "F12" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[4]" LOC = "J10" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[5]" LOC = "H13" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[6]" LOC = "D8" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[7]" LOC = "A15" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[8]" LOC = "F8" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[9]" LOC = "C13" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[10]" LOC = "F10" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[11]" LOC = "D13" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[12]" LOC = "E12" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[13]" LOC = "G14" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[14]" LOC = "B9" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[15]" LOC = "A14" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[16]" LOC = "D10" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[17]" LOC = "F13" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[18]" LOC = "D11" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[19]" LOC = "C11" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[20]" LOC = "A8" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[21]" LOC = "A12" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[22]" LOC = "A10" | IOSTANDARD = LVCMOS33;
NET "diff_io_n[23]" LOC = "B11" | IOSTANDARD = LVCMOS33;

NET "rgmii_reset_n" LOC = "C21" | IOSTANDARD=LVCMOS33;
NET "rgmii_mdio" LOC = "A24" | IOSTANDARD=LVCMOS33;
NET "rgmii_mdc" LOC = "A23" | IOSTANDARD=LVCMOS33;
NET "rgmii_rxd[0]" LOC = "C16" | IOSTANDARD=LVCMOS33;
NET "rgmii_rxd[1]" LOC = "A17" | IOSTANDARD=LVCMOS33;
NET "rgmii_rxd[2]" LOC = "B17" | IOSTANDARD=LVCMOS33;
NET "rgmii_rxd[3]" LOC = "C17" | IOSTANDARD=LVCMOS33;
NET "rgmii_txd[0]" LOC = "A19" | IOSTANDARD=LVCMOS33;
NET "rgmii_txd[1]" LOC = "B19" | IOSTANDARD=LVCMOS33;
NET "rgmii_txd[2]" LOC = "C19" | IOSTANDARD=LVCMOS33;
NET "rgmii_txd[3]" LOC = "A20" | IOSTANDARD=LVCMOS33;
NET "rgmii_rxck" LOC = "A18" | IOSTANDARD=LVCMOS33;
NET "rgmii_rxctl" LOC = "B16" | IOSTANDARD=LVCMOS33;
NET "rgmii_txck" LOC = "C18" | IOSTANDARD=LVCMOS33;
NET "rgmii_txctl" LOC = "B20" | IOSTANDARD=LVCMOS33;

NET "ext_clk_27m" LOC="F17" | IOSTANDARD=LVCMOS33;

NET "qspi_cs_n" LOC = "C22" | IOSTANDARD=LVCMOS33;
NET "qspi_dq[0]" LOC="F23"|IOSTANDARD=LVCMOS33;
NET "qspi_dq[1]" LOC="C24"|IOSTANDARD=LVCMOS33;
NET "qspi_dq[2]" LOC="D21"|IOSTANDARD=LVCMOS33;
NET "qspi_dq[3]" LOC="E22"|IOSTANDARD=LVCMOS33;
NET "qspi_sclk" LOC="E21"|IOSTANDARD=LVCMOS33;

NET"emmc_cmd" LOC = "D15"|IOSTANDARD=LVCMOS33;
NET"emmc_dq[0]"LOC = "G19"|IOSTANDARD=LVCMOS33;
NET"emmc_dq[1]"LOC = "H19"|IOSTANDARD=LVCMOS33;
NET"emmc_dq[2]"LOC = "E18"|IOSTANDARD=LVCMOS33;
NET"emmc_dq[3]"LOC = "F20"|IOSTANDARD=LVCMOS33;
NET"emmc_dq[4]"LOC = "G20"|IOSTANDARD=LVCMOS33;
NET"emmc_dq[5]"LOC = "H16"|IOSTANDARD=LVCMOS33;
NET"emmc_dq[6]"LOC = "H17"|IOSTANDARD=LVCMOS33;
NET"emmc_dq[7]"LOC = "E17"|IOSTANDARD=LVCMOS33;
NET"emmc_clk" LOC = "G16"|IOSTANDARD=LVCMOS33;
NET"emmc_rst_n" LOC = "D16"|IOSTANDARD=LVCMOS33;

NET"som_led" LOC="J20"|IOSTANDARD=LVCMOS33;
NET"som_key" LOC="J19"|IOSTANDARD=LVCMOS33;
/*                   DDR3 PINs                       */
NET "ddr3_dq[0]" LOC = "W3" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[1]" LOC = "U6" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[2]" LOC = "V4" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[3]" LOC = "U7" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[4]" LOC = "U5" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[5]" LOC = "U1" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[6]" LOC = "V3" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[7]" LOC = "U2" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[8]" LOC = "Y3" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[9]" LOC = "W1" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[10]" LOC = "AA3" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[11]" LOC = "Y1" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[12]" LOC = "AB2" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[13]" LOC = "V1" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[14]" LOC = "AC2" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[15]" LOC = "V2" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[16]" LOC = "AC4" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[17]" LOC = "Y6" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[18]" LOC = "AC3" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[19]" LOC = "AB6" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[20]" LOC = "Y5" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[21]" LOC = "AD6" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[22]" LOC = "AB4" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[23]" LOC = "AC6" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[24]" LOC = "AE3" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[25]" LOC = "AF2" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[26]" LOC = "AE6" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[27]" LOC = "AE2" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[28]" LOC = "AD4" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[29]" LOC = "AD1" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[30]" LOC = "AE5" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[31]" LOC = "AE1" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[32]" LOC = "W15" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[33]" LOC = "V17" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[34]" LOC = "W14" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[35]" LOC = "V18" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[36]" LOC = "V16" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[37]" LOC = "V19" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[38]" LOC = "V14" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[39]" LOC = "Y17" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[40]" LOC = "AC14" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[41]" LOC = "AA15" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[42]" LOC = "AB16" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[43]" LOC = "AA14" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[44]" LOC = "AB14" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[45]" LOC = "AA18" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[46]" LOC = "AB15" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[47]" LOC = "AA17" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[48]" LOC = "AD19" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[49]" LOC = "AB19" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[50]" LOC = "AD18" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[51]" LOC = "AA20" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[52]" LOC = "AC17" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[53]" LOC = "AA19" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[54]" LOC = "AB17" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[55]" LOC = "AC19" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[56]" LOC = "AF17" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[57]" LOC = "AD15" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[58]" LOC = "AF20" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[59]" LOC = "AF15" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[60]" LOC = "AD16" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[61]" LOC = "AF14" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[62]" LOC = "AF19" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dq[63]" LOC = "AE15" | IOSTANDARD = SSTL15_T_DCI ;
NET "ddr3_dm[0]" LOC = "V6" | IOSTANDARD = SSTL15 ;
NET "ddr3_dm[1]" LOC = "Y2" | IOSTANDARD = SSTL15 ;
NET "ddr3_dm[2]" LOC = "AD5" | IOSTANDARD = SSTL15 ;
NET "ddr3_dm[3]" LOC = "AF3" | IOSTANDARD = SSTL15 ;
NET "ddr3_dm[4]" LOC = "W16" | IOSTANDARD = SSTL15 ;
NET "ddr3_dm[5]" LOC = "AD14" | IOSTANDARD = SSTL15 ;
NET "ddr3_dm[6]" LOC = "AB20" | IOSTANDARD = SSTL15 ;
NET "ddr3_dm[7]" LOC = "AE17" | IOSTANDARD = SSTL15 ;
NET "ddr3_dqs_p[0]" LOC = "W6" | IOSTANDARD = DIFF_SSTL15_T_DCI ;
NET "ddr3_dqs_n[0]" LOC = "W5" | IOSTANDARD = DIFF_SSTL15_T_DCI ;
NET "ddr3_dqs_p[1]" LOC = "AB1" | IOSTANDARD = DIFF_SSTL15_T_DCI ;
NET "ddr3_dqs_n[1]" LOC = "AC1" | IOSTANDARD = DIFF_SSTL15_T_DCI ;
NET "ddr3_dqs_p[2]" LOC = "AA5" | IOSTANDARD = DIFF_SSTL15_T_DCI ;
NET "ddr3_dqs_n[2]" LOC = "AB5" | IOSTANDARD = DIFF_SSTL15_T_DCI ;
NET "ddr3_dqs_p[3]" LOC = "AF5" | IOSTANDARD = DIFF_SSTL15_T_DCI ;
NET "ddr3_dqs_n[3]" LOC = "AF4" | IOSTANDARD = DIFF_SSTL15_T_DCI ;
NET "ddr3_dqs_p[4]" LOC = "W18" | IOSTANDARD = DIFF_SSTL15_T_DCI ;
NET "ddr3_dqs_n[4]" LOC = "W19" | IOSTANDARD = DIFF_SSTL15_T_DCI ;
NET "ddr3_dqs_p[5]" LOC = "Y15" | IOSTANDARD = DIFF_SSTL15_T_DCI ;
NET "ddr3_dqs_n[5]" LOC = "Y16" | IOSTANDARD = DIFF_SSTL15_T_DCI ;
NET "ddr3_dqs_p[6]" LOC = "AD20" | IOSTANDARD = DIFF_SSTL15_T_DCI ;
NET "ddr3_dqs_n[6]" LOC = "AE20" | IOSTANDARD = DIFF_SSTL15_T_DCI ;
NET "ddr3_dqs_p[7]" LOC = "AE18" | IOSTANDARD = DIFF_SSTL15_T_DCI ;
NET "ddr3_dqs_n[7]" LOC = "AF18" | IOSTANDARD = DIFF_SSTL15_T_DCI ;
NET "ddr3_addr[15]" LOC = "AF7" | IOSTANDARD = SSTL15;
NET "ddr3_addr[14]" LOC = "V8" | IOSTANDARD = SSTL15 ;
NET "ddr3_addr[13]" LOC = "V9" | IOSTANDARD = SSTL15 ;
NET "ddr3_addr[12]" LOC = "AD8" | IOSTANDARD = SSTL15 ;
NET "ddr3_addr[11]" LOC = "W9" | IOSTANDARD = SSTL15 ;
NET "ddr3_addr[10]" LOC = "Y11" | IOSTANDARD = SSTL15 ;
NET "ddr3_addr[9]" LOC = "V7" | IOSTANDARD = SSTL15 ;
NET "ddr3_addr[8]" LOC = "W11" | IOSTANDARD = SSTL15 ;
NET "ddr3_addr[7]" LOC = "W10" | IOSTANDARD = SSTL15 ;
NET "ddr3_addr[6]" LOC = "AA13" | IOSTANDARD = SSTL15 ;
NET "ddr3_addr[5]" LOC = "Y10" | IOSTANDARD = SSTL15 ;
NET "ddr3_addr[4]" LOC = "AC8" | IOSTANDARD = SSTL15 ;
NET "ddr3_addr[3]" LOC = "Y7" | IOSTANDARD = SSTL15 ;
NET "ddr3_addr[2]" LOC = "Y13" | IOSTANDARD = SSTL15 ;
NET "ddr3_addr[1]" LOC = "Y8" | IOSTANDARD = SSTL15 ;
NET "ddr3_addr[0]" LOC = "AC7" | IOSTANDARD = SSTL15 ;
NET "ddr3_ba[2]" LOC = "AA8" | IOSTANDARD = SSTL15 ;
NET "ddr3_ba[1]" LOC = "AA7" | IOSTANDARD = SSTL15 ;
NET "ddr3_ba[0]" LOC = "AE7" | IOSTANDARD = SSTL15 ;
NET "ddr3_ck_p[0]" LOC = "AC9" | IOSTANDARD = DIFF_SSTL15 ;
NET "ddr3_ck_n[0]" LOC = "AD9" | IOSTANDARD = DIFF_SSTL15 ;
NET "ddr3_ras_n" LOC = "AD13" | IOSTANDARD = SSTL15 ;
NET "ddr3_cas_n" LOC = "AC12" | IOSTANDARD = SSTL15 ;
NET "ddr3_we_n" LOC = "AA12" | IOSTANDARD = SSTL15 ;
NET "ddr3_reset_n" LOC = "V11" | IOSTANDARD = LVCMOS15 ;
NET "ddr3_cke[0]" LOC = "AB12" | IOSTANDARD = SSTL15 ;
NET "ddr3_odt[0]" LOC = "AC13" | IOSTANDARD = SSTL15 ;
NET "ddr3_cs_n[0]" LOC = "AB7" | IOSTANDARD = SSTL15 ;

NET "refclk_200m_p" LOC="AB11" | IOSTANDARD = LVDS;
NET "refclk_200m_n" LOC="AC11" | IOSTANDARD = LVDS;